<div class="success-page" data-controller="bubbles" data-bubbles-count-value="60">
  <%= render "shared/success_heading" %>

  <div class="success-card">
    <p class="success-message">
      Your itinerary <strong><%= @board["name"] %></strong> is ready with <%= @board["card_count"] %> cards.
      <br><br>
      Have an amazing trip!
    </p>

    <div class="success-actions">
      <%= link_to "View Itinerary", @board["url"], class: "btn btn--primary", target: "_blank" %>
      <%= link_to "Plan Another Trip", new_trip_planner_path, class: "btn btn--secondary" %>
      <%= link_to "Back to Labs", root_path, class: "btn" %>
    </div>
  </div>
</div>
