<div class="success-page" data-controller="bubbles" data-bubbles-count-value="60">
  <%= render "shared/success_heading" %>

  <div class="success-card">
    <p class="success-message">
      Extracted <%= @board["card_count"] %> tasks into <strong><%= @board["name"] %></strong>.
    </p>

    <div class="success-actions">
      <%= link_to "View Tasks", @board["url"], class: "btn btn--primary", target: "_blank" %>
      <%= link_to "Back to Labs", root_path, class: "btn" %>
    </div>
  </div>
</div>
